<h1><%= @category.name %> Board Games</h1>
<div class="category description">
  <%= @category.description %>
</div>
<% unless @category.board_games.empty? %>
<div class="category info">
  <strong>Average Rating for a <%= @category.name %> Board Game: <%= @category.average_rating.round(2) %></strong><br />
  <strong>Highest Rated <%= @category.name %> Board Game:</strong>
    <%= hr = @category.highest_rated_board_game; link_to hr.title, board_game_path(hr) %>
    <%= "Rating: #{hr.average_rating.round(2)}/10" %>
</div>
<% end %>
<div class="category buttons">
  <%= button_to "Edit #{@category.name} Category", edit_category_path(@category), method: 'get' %>
  <%= button_to "All #{@category.name} Board Games", category_board_games_path(@category), method: 'get' %>
</div>
