<tr><td>
  <% if @board_game.average_rating %>
  <div class="bg-avg-rating">
    <strong>Average Rating: </strong>
    <%= @board_game.average_rating.round(2) %>/10
  </div>
  <% end %>
  <div class="bg-categories">
    <strong>Categories: </strong>
    <% @board_game.categories.each.with_index(1) do |c, i| %>
      <%=  link_to c.name, c  %><% unless i == @board_game.categories.size %>, <% end %>
      <% if i%5 == 0 %>
        <br />
      <% end %>
    <% end %>
  </div>
  <div class='bg-players'>
    <strong>Players: </strong><%= "#{@board_game.min_players}-#{@board_game.max_players}" %>
  </div>
</td><td>
  <div class="bg-playing-time">
    <strong>Approx. Play Time: </strong><%= "#{@board_game.min_playing_time}-#{@board_game.max_playing_time} minutes" %>
  </div>
  <div class='bg-age'>
    <strong>Recommended Age: </strong><%= @board_game.age_range %>
  </div>
  <% if @board_game.amazon_url %>
    <div class='bg-amazon-link'>
      <%= link_to('Buy on Amazon!', @board_game.amazon_url) %>
    </div>
  <% end %>
</td><td>
  <div class="bg-designers">
    <strong>Designers: </strong>
    <% @board_game.designers.each.with_index(1) do |d, i| %>
      <%=  link_to d.name, d  %><% unless i == @board_game.designers.size %>, <% end %>
      <% if i%5 == 0 %>
        <br />
      <% end %>
    <% end %>
  </div>
  <div class="bg-artists">
    <strong>Artists: </strong>
    <% @board_game.artists.each.with_index(1) do |a, i| %>
      <%=  link_to a.name, a  %><% unless i == @board_game.artists.size %>, <% end %>
      <% if i%5 == 0 %>
        <br />
      <% end %>
    <% end %>
  </div>
  <div class="bg-publishers">
    <strong>Publishers: </strong>
    <% @board_game.publishers.each.with_index(1) do |p, i| %>
      <%=  link_to p.name, p  %><% unless i == @board_game.publishers.size %>, <% end %>
      <% if i%5 == 0 %>
        <br />
      <% end %>
    <% end %>
  </div>
</td></tr>