<% if @board_game.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@board_game.errors.count, "error") %>
      prohibited this board game from being saved:
    </h2>
 
    <ul>
    <% @board_game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @board_game do |f| %>
  <div class="title field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="num_players field">
    <%= f.label :min_players, "Minimum Players: " %>
    <%= f.number_field :min_players %>
    <%= f.label :max_players, "Maximum Players: " %>
    <%= f.number_field :max_players %>
  </div>
  <div class="playing_time field">
    <%= f.label :min_playing_time, "Average Playing Time: " %>
    <%= f.number_field :min_playing_time %> -
    <%= f.number_field :max_playing_time %> minutes
  </div>
  <div class="age_range field">
    <%= f.label :age_range, "Recommended Age Range (eg. '8+'): " %>
    <%= f.text_field :age_range %>
  </div>
  <div class="checkboxes field">
  <%= f.label :designers %>
    <ul>
      <%= f.collection_check_boxes :designer_ids, Designer.all, :id, :name do |b| %>
        <li>
          <%= b.label %>
          <%= b.check_box %>
        </li>
      <% end %>
    <%= link_to "Add New Designer", new_designer_path %>
    </ul>
  </div>
  <div class="checkboxes field">
  <%= f.label :publishers %>
    <ul>
      <%= f.collection_check_boxes :publisher_ids, Publisher.all, :id, :name do |b| %>
        <li>
          <%= b.label %>
          <%= b.check_box %>
        </li>
      <% end %>
    <%= link_to "Add New Publisher", new_publisher_path %>
    </ul>
  </div>
  <div class="checkboxes field">
  <%= f.label :artists %>
    <ul>
      <%= f.collection_check_boxes :artist_ids, Artist.all, :id, :name do |b| %>
        <li>
          <%= b.label %>
          <%= b.check_box %>
        </li>
      <% end %>
    <%= link_to "Add New Artist", new_artist_path %>
    </ul>
  </div>
  <div class="checkboxes field">
  <%= f.label :categories %>
    <ul>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <li>
          <%= b.label %>
          <%= b.check_box %>
        </li>
      <% end %>
    <%= link_to "Add New Category", new_category_path %>
    </ul>
  </div>
  <div class="submit-button">
    <%= f.submit 'Add Board Game' %>
  </div>
<% end %>
