<h1><%= @board_game.title %></h1>
<table>
  <%= render 'display_board_game', board_game: @board_game %>
  <tr>
    <td>
      <div class="bg-buttons">
        <%= button_to "Edit #{@board_game.title}", edit_board_game_path(@board_game), method: 'get' %>
        <%= button_to "All Reviews of #{@board_game.title}", board_game_reviews_path(@board_game), method: 'get' %>
        <%= button_to 'Add a Review', new_board_game_review_path(@board_game), method: 'get' %>
      </div>
    </td>
  </tr>
</table>