<h1>Review for <%= link_to @review.board_game.title, board_game_path(@review.board_game) %>
    by <%= link_to @review.user.email, user_path(@review.user) %></h1>
<table>
  <%= render 'display_review', review: @review %>
  <% if @review.user == current_user %>
  <tr>
    <td class="review manage buttons">
        <%= button_to 'Edit Review', edit_board_game_review_path(@review), method: :get %>
        <%= button_to 'Delete Review', destroy_board_game_review_path(@review), data: { confirm: "Delete review?" }, method: :delete %>
    </td>
  </tr>
  <% end %>
</table>
